#!/usr/bin/env bash

# Function below are declared in my own direnv stdlib (and my override default
# stdlib functions)
# See: https://framagit.org/rdeville-public/dotfiles/direnv/-/blob/main/lib

# Temporary deactivate direnv log as I have my own logger
DIRENV_LOG_FORMAT=""

# Ensure that PWD is absolute without symlink
PWD="$(pwd -P)"

# Load .env file if it exists
dotenv_if_exists

# Allow users to setup their own envrc files
source_env_if_exists ".envrc.local"

# Use flake.nix devShells output
type use_nix_flake >/dev/null && use_nix_flake || type use_devbox >/dev/null && use_devbox

# Reset direnv log to see exported environment variables
DIRENV_LOG_FORMAT="[INFO] direnv: %s"

# vim: ft=bash
